[SddmGreeterTheme]
Name=hongkong-plasma6
Description=Hong Kong sddm theme for plasma 6
Author=Jame Leung
Copyright=(c) 2024, Jame Leung the developer
License=GPL 3+
Type=sddm-theme
Version=0.1
Website=https://github.com/JameLeung/SDDM_theme_HK
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=jame.leung@gmail.com
Theme-Id=hongkong-plasma6
Theme-API=2.0
QtVersion=6
